
<div class="container">


  <h1>Stupid Coaching</h1>
  <div class="callout">
    <p><em>Question:</em></p>
    <p><em>- <%=@message%></em></p>
  </div>
  <div class="callout">
    <p><em>Answer:</em></p>
    <p><em>- <%=@answer%></em></p>
  </div>
  <%= link_to "Ask a new question?", ask_path %>
</div>
